name: Node.js CI

on:
  push:
    branches: [ add-gh-pages-deploy ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: yarn
      - run: yarn deploy
			
